// colors
$font-color--dark: #505050;
$font-color--light: #fff;
$background--light: #fafafa;
$background--dark: #222;
$blue: #1f8de2;
$green: #00cc99;
$green-highlight: #009587;
$red: #e21f3f;
$gray-light: #e1e1e1;
$gray-light-1: #e7e7e5;
$gray-input-border: $gray-light-1;
$gray-separator: $gray-light;
$gray-dark: #7a848b;
$orange: #FF6633;
$orange-gray: #f9f6f6;
$orange-pale: #ff774a;
$error-red: #FF002D;
$blue-facebook: #3596f7;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

// footer
$footer-size: 120px;

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;

// sidebar
$sidebar-width: 250px;

// search
$searchbox-height: 50px;

$navbar-height: 66px;