@import 'vars';
@import 'typography';

// Loading
#loading-bar-spinner {
	display:none;
}

#loading-bar {
  z-index: 9999;
	.bar {
		background: #fff;
		height: 4px;
    .peg {
      display: none;
    }
	}
}

// Sticky footer styles
html, body {
  height: 100%;
}

main {
	height: 100%;
  overflow: auto;

	.with-footer {
		height: 100%;

		.content {
			min-height: calc(100% - 120px);
		}
	}
}

#push {
  height: 1px;
  margin-top: 29px;
}

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $green; // always defaults to green color
  padding: 0;
}

.light-bg {
	background-color: $background--light;
}

// Navbar

.favo-home {
	font-size:20px;
}

.navbar-nav {
    text-align: center;
    background:#009587;
    margin-right: 90px;

    @media (max-width: $breakpoint-tablet) {
	  	padding: 0px;
    	margin: 0px -15px;
	  	}
	}


.navbar {
  background-color: $green;
  border-color: $green;
  border-bottom: 0px;
  min-height: $navbar-height;

  .container {
  	width:100%;
  }


  a {
    color: white;
    background-color: $green !important;
    height: $navbar-height;
    line-height: $navbar-height !important;
    display: inline-block !important;
    padding: 0px 20px !important;
    font-size: 15px;
    font-weight: 700;

    &:focus {
			background-color: inherit !important;
		}
    &:hover {
		  background-color: $green-highlight !important;
		}
    &:active {
		  background-color: $green-highlight !important;
		}

  }
  @media (max-width: $breakpoint-tablet) {
  	li, a {
      background-color:#009587 !important; 
  	}
  }

  .navbar-header a:hover {
    background-color: $green !important;
  }

  li {
  	text-transform: uppercase;
  }

  .navbar-toggle {
    padding-top: 18px;

    .icon-bar {
      background-color: white;    
    }
  }

  .navbar-brand {
    font-style: italic;
    font-size: 30px;
    padding: 0px;
    text-align: left;
    float: none;

    @media (max-width: $breakpoint-tablet) {
      margin-left: 0px !important;
      background-color: #00cc99 !important;
    }
  }
  
  .favorites {
    font-size: 20px;
	}

  .avatar {
  	@mixin highlighted {
      @media (min-width: $breakpoint-tablet) {
        background-color: $green-highlight !important;
  		  box-shadow: 6px 6px 10px rgba(0, 0, 0, .1);
      }
  	}

  	&:hover {
      a {
  			@include highlighted;
  		}
  	}
  	
  	&.open {
  		a {
  			@include highlighted;
  		}
		}

  	a {
  		padding: 0px 8px 0px 2px !important;

  		img {
  			margin-left: 10px;
  			height: 40px;
  		}
  	}
  	.dropdown-menu {
  		border: none;
  		background-color: transparent;
      padding: 0;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
        
  		a {
  			float: right;
		    color: white;
		    margin-top: -6px;
		    width: 100%;
		    text-align: center;;
		    border-top: 0px;
    		padding:0px;
        
        &:hover {
          color: black;
        }
        
				@include highlighted;
		    
        box-shadow: none!important;
        
		    @media (max-width: $breakpoint-tablet) {
		    	float: none;
		    	width: 100%;
		    	text-align: center;
		    }
  		}
  	}
  }
}

a, a:focus {
	outline: 0;
}

@mixin button-active {
  color: black!important;
  background-color: $gray-light!important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)!important;
}

@mixin button-style {
  border-color: $gray-dark!important;
  color: #fff!important;
  background-color: $gray-dark!important;
  border-radius: 2px!important;
  
  &:hover {
    color: black!important;
    background-color: $gray-light!important;
  }
  &:active {
    @include button-active;
  }
}

.nya-bs-select {
	.caret {
		border: 0;
		width: auto;
    height: auto;
    margin-top: -10px!important;
	}
	.caret:before {
    content: "\f107";
    display: inline-block;
    border: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
	}
}

button {
  user-select: none;
}

.page-sidebar {
	.filter-label {
		text-transform: uppercase;
		font-weight: 700;
	}

	.filter {
		margin-top: 20px;

		.nya-bs-select {
			margin-top: 5px;

			button {
				height: 40px;
        
        @include button-style;
			}
      
       &.open {
        button {
          @include button-active;
        }
      }
			
		}
	}
	.filter-option {
		text-transform: uppercase;
	}
}

@media (max-width: $breakpoint-tablet) {
	.page-sidebar {
		padding-bottom: 23px;
		display: none;
		border-bottom: 1px $gray-separator solid;
		position:fixed;
		width:100%;
		background-color:#fff;
		z-index:200;
		top: 100px;
    overflow-y: scroll;
    bottom: 0;

		.header {
			display: none;
		}
		.filters {
			display: table;
  		margin: 0 auto;
		}
		
	}

	.filters-toggle {
		color: $orange;
    float: right;
    margin-top: 14px;
    margin-right: 25px;
    cursor: pointer;
	}
}

@media (min-width: $breakpoint-tablet) {
	.page-sidebar {
    width: $sidebar-width;
    margin-left: -$sidebar-width - 15px;
    //min-height: 100%;
    margin-top: 36px;
    background: white;
    float: left;
		border-right: 1px $gray-separator solid;
		position: fixed;
		overflow-y:overlay;
    overflow-x:hidden;
    top:30px;
    bottom:0;
    padding-bottom:20px;
    display: block!important;

    .header {
	    height: 50px;
	    padding-top: 24px;
	    padding-left: 15px;
	    text-transform: uppercase;
	    font-weight: 700;
    	font-size: 20px;
    }

    .filters {
    	padding: 20px 15px 15px 15px;
    }
	}

	.wrapper {
		margin-left: $sidebar-width;
	}

	.list-content {
		display: inline-block;
	    width: 100%;
	}

	.filters-toggle {
		display: none;
	}
}

.footer {
	color: white;
	bottom: 0;
	height: $footer-size;

	> div {
		text-align: center;

		p {
			margin-top: 20px;
		}

		img {
			margin-left:3px;
			margin-right: 3px;
		}
	}
}

//Filter
.nya-bs-select.btn-group .dropdown-menu .inner {
	overflow-y: overlay;
  max-height: 200px;
  overflow-x: hidden;
  max-width: 80px;
}

// Search page
.search {
	color: white;
	background-color: $green;
  
  .navbar {
    background-color: transparent;  
  }
  
	.logo {
    height: 67px;
    width: 190px;
    margin: 0 auto;
    margin-top: 140px;

    	a{
    		color:#fff;
    		font-style: italic;
    		font-size: 50px;
    		font-weight:700;
    		height: 60px;
		    line-height: 1.2em;
		    padding: 0px;
    	}
	}
	.slogan {
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		max-width: 340px;
		margin: 0 auto;
		font-size:18px;

		@media (max-width: $breakpoint-tablet) {
			font-size:16px;
		}
	}
	.box {
		max-width: 620px;
    margin: 0 auto;
    margin-top: 80px;
    height: 60px;
    background: white;
		border-radius: 2px;
		box-shadow: 0px 6px 13px 2px rgba(107, 107, 107, 0.3);

		@media (max-width: $breakpoint-tablet) {
			margin-top:50px;
		}
		
		img {
			display: inline-block;
		  height: 18px;
		  margin-left: 18px;
		  margin-top: -3px;
		}

		input {
			color: $font-color--dark;
			border: none;
			padding: 0px;
			padding-left: 10px;
			margin: 0px;
			height: 100%;
      max-width: 85%;
      width: 100%;
			outline: none;
			background: transparent;
			font-size: 18px;

			@media (max-width: $breakpoint-tablet) {
				font-size:15px;
			}
		}
	}
	.footer {
		.suggest-race {
			color: white;
		}
	}
}



// Result page
@media (max-width: $breakpoint-tablet) {
	.races {
		.list {
			.box {
				position:fixed;
				width:100%;
				z-index:300;
			}
		}
	}

	.list-content {
		padding-top:50px;
	}
}			

.races {
	
	.list {
		padding-top: 66px;
		
		.box {
			height: $searchbox-height;
	    background: white;
	    display: flex;
	    flex-direction: row;
	    font-weight: 500;
			border-bottom: 1px $gray-separator solid;

			img {
		    height: 18px;
		    margin-left: 18px;
		    margin-top: 16px;
			}

			input {
				color: $font-color--dark;
				border: none;
		    padding: 0px;
		    padding-left: 5px;
		    margin: 0px;
		    height: 100%;
		    max-width: 85%;
    		width: 100%;
				outline: none;
				background: transparent;
				font-size: 16px;
				flex:1;
			}
		}

		.race {
			opacity: 1;
			color: inherit; /* blue colors for links too */
			text-decoration: inherit; /* no underline */
			padding: 25px 10px 10px 10px;
	    color: white;
	    display: block;
			min-height: 170px;
			cursor: pointer;
			
			&.ng-enter {
  			transition: 1s;
  			opacity: 0;
			}
			&.ng-enter-active {
  			opacity: 1;
			}

			div:hover {
				border-color: rgba(0,0,0,.1)!important;
			}
		    
			&:nth-child(1n) {
				background-color: #7E57C2;
				border-style: solid;
    			border-width: 10px;
    			border-color: #7E57C2;
			}

			&:nth-child(2n) {
				background-color: #5C6BC0;
				border-style: solid;
    			border-width: 10px;
    			border-color: #5C6BC0;
			}

			&:nth-child(3n) {
				background-color: #42A5F5;
				border-style: solid;
    			border-width: 10px;
    			border-color: #42A5F5;
			}

			&:nth-child(4n) {
				background-color: #29B6F6;
				border-style: solid;
    			border-width: 10px;
    			border-color: #29B6F6;
			}

			&:nth-child(5n) {
				background-color: #26C6DA;
				order-style: solid;
    			border-width: 10px;
    			border-color: #26C6DA;
			}

			&:nth-child(6n) {
				background-color: #26A69A;
				order-style: solid;
    			border-width: 10px;
    			border-color: #26A69A;
			}

			&.destacada  {
				background-color: #37474F;
				border-bottom:4px solid white;
				border-left:none;
				border-right:none;
				border-top:none;
				min-height: 220px;
				padding-left: 15px;

				.datos-carrera {
			    	padding-top: 0px;
			    }	
			    .nombre-carrera {
			    	min-height:118px;
			    	font-size: 60px;
			    }
			    .distancia {
    				padding-top: 45px;
    			}
    			.distancia.size-3 {
			    	margin-top: 20px;
		    		font-size: 32px;
			    	//padding-right: 58px;
			    }

    			@media only screen and (max-width: 767px) {
    				.nombre-carrera {
				    	min-height:100px;
				    	font-size: 40px;
              line-height: 1em;
              margin-bottom:20px;
              margin-top: 4px;
				    }

				    .distancia.size-3 {
              margin: 20px 0px;
              font-size: 32px;
            }
    			}
			}

			&.favorite  {
        i {
          color: white;
        }
			}

			.toggle-favorite {
				cursor: pointer;
				padding: 7px;
			}

	    .nombre-carrera {
	    	font-size: 40px;
	    	text-transform: uppercase;
	    	font-weight: 700;
        line-height: 1.12em;
        min-height: 85px;
        margin-bottom:20px;
        margin-top: -8px;
	    }

	    .datos-carrera {
	    	font-size: 18px;
	    	text-transform: uppercase;
	    	font-weight:300;
	    }

	    .distancia {
        padding-top: 22px;
        font-size: 55px;
	    	text-transform: uppercase;
	    	font-weight: 700;
	    	text-align:right;
	    	padding-right:100px;
	    }
	    .distancia.size-2 {
	    	padding-top: 0px;
  			font-size: 41px;
	    }
	    .distancia.size-3 {
	    	margin-top: -6px;
	    	font-size: 32px;
	    	padding-top:0px;
	    }
	    @media only screen and (max-width: 767px) {
		    .nombre-carrera {
		    	text-align:center;
		    }

		    .datos-carrera {
		    	text-align:center;
		    	padding-top: 10px;
		    }

		    .distancia {
		    	padding-top: 25px;
		    	text-align:center;
		    	padding-right:0px;
					padding-left: 0px;
		    }
	    }
		}

		.no-results {
			margin-top: 130px;
	    padding-left: 15px;
			padding-right: 15px;
			text-align: center;
		}
	}

	.pagination {
    width: 48%;
    padding: 17px 14px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px 0px 50px 0px;
    
    @include button-style;
	}

	.pagerpad {
		padding-right:0px;
	}

	.footer {
		color: #7b7b7b!important;

		@media (min-width: $breakpoint-tablet) {
			margin-left: $sidebar-width;
		}
	}
}

.modal {
	&.custom {
		.modal-content {
	    border: 0px;
  		box-shadow: none;
  		border-radius: 2px;
  		padding: 5px 10px 5px 10px;

  		@media (min-width: $breakpoint-tablet) {
  			padding: 15px 30px 15px 30px;
  		}

  		.modal-header {
  			border-bottom: 0px;
				color: $orange-pale;
  			
  			.modal-title {
    			text-transform: uppercase;
    			font-weight: 700;
    			font-size:18px;
				}
				.close {
    			font-size: 32px;
			    font-weight: 300;
			    margin-top: -12px;
			    color: inherit;
			    opacity: 1;
			    text-shadow: none;
				}
  		}

  		@mixin input-style {
  			color: $font-color--dark;
  			background-color: $orange-gray;
				box-shadow: none;
				border-color: $gray-input-border;
				border-radius: 2px;
				height: 40px;
  		}

  		.modal-body {
  			input {
  				@include input-style;
  			}
  			.nya-bs-select {
  				width: 100%;

  				button {
  					@include input-style;
  				}
  			}

  			.modal-header {
			    margin-bottom: 10px;
  			}

  			@media(max-width: 372px) {
	  			.recaptcha {
	  				transform:scale(0.77);
	  				transform-origin:0 0;
	  			}
  			}
  		}

  		.modal-footer {
  			border-top: 0px;
  			text-align: center;

  			button{
  				text-transform: uppercase;
  				padding-left: 10px;
  				padding-right: 10px;
  				height: 40px;
	  			
	  			&.send {
	  				background: $orange-pale;
	  				color: white;
	  				padding-left: 40px;
  					padding-right: 40px;
	  			}
  			}
  		}
		}

		@media (min-width: $breakpoint-tablet) {
			.modal-md {
				width: 500px;
			}
		}
	}
}

.uib-datepicker-popup {
	padding: 5px;
	border-radius: 2px;
	
	button {
		border: 0;
	}

	.uib-datepicker {
		.uib-daypicker {
			&:focus {
				outline: 0!important;
			}
		}
	}
	
}

i {
	&.overlay {
    position: absolute;
    right: 28px;
    top: 12px;
    pointer-events:none;
	}
}

input.ng-invalid {
	&.ng-dirty {
  	border-color: $error-red!important;
  }
}

.ng-submitted {
	.ng-invalid {
		border-color: $error-red!important;
	}
	.nya-bs-select.ng-invalid {
		button {
			border-color: $error-red!important;
		}
	}
	.recaptcha.ng-empty {
		iframe {
			border: 1px solid $error-red!important;
		}
	}
}

// Notifications
growl-notifications{
  position: fixed;
  bottom: 30px;
  left: 10px;
  right: 10px;
  z-index: 9999;
}
growl-notification{
  background: #777777;
  opacity: 0.9;
  padding: 15px 30px;
  margin: 0 auto;
  color: white;
  text-align: center;
  border-radius: 26px;
  box-shadow: #424242 1px 0 6px 1px;
  display:table;
}
growl-notification.fading.ng-move{
  opacity: 0;
  transition: 0.5s linear all;
}
growl-notification.fading.ng-move.ng-move-active {
  opacity: 0.9;
}
growl-notification.fading.ng-leave {
  opacity: 0.9;
  transition: 0.5s linear all;
}
growl-notification.fading.ng-leave.ng-leave-active {
  opacity: 0;
}

.login {
	text-align: left;

	.login-text {
		text-align: left;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    margin-left:15px;
    margin-top:-9px;
	}

	.login-button {
		margin-top: 20px;
		color: white;
		background-color: $blue-facebook;

		i {
			margin-right: 8px;
		}
	}
  
  .tac {
    font-size: 13px;
    margin-top: 20px;
  }
}

// INVITAR AMIGOS
.omitir {
	color: #333;
    border: none;
    background: none;
    margin-right: 20px;
    font-weight: 700;
    font-size: 15px;

}

.invite-text{
	margin: -9px 0px 25px 14px;
    font-size: 16px;
    font-weight: 300;
}


