<!doctype html>
<html class="no-js" lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
      <base href="<%=environment.base%>" />
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title ng-bind="pageTitle"></title>
      <meta name="description" content="Runnify">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
      <meta http-equiv="Cache-control" content="public">
      
      <meta property="og:url" content="http://runnifyme.com" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="Runnify" />
      <meta property="og:title" content="Todas las carreras en un solo lugar" />
      <meta property="og:description" content="Runnifyme es el calendario de carreras mas completo de latinoamérica" />
      <meta property="og:image" content="http://runnifyme.com/images/logo.png" />

      <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

      <script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
      
      <link id="ng_load_plugins_before" />
  </head>
  <body class="{{bodyClass}}">

    <style type="text/css">
      @import url("css/main.css");
    </style>

    <main ui-view></main>

    <growl-notifications></growl-notifications>
    <div ng-repeat="n in notifications track by n.id" class="hidden" style="display:none">
      <growl-notification class="fading" ttl="3000">{{n.msg}}</growl-notification>
    </div>

    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>