body {
	margin:0 auto; 
	padding:0px;
	font-family: 'Roboto Condensed', sans-serif!important;
}

#header {
	width:100%;
	height:68px;
	background-color: #0c9;
	text-align:center;
	position: fixed;
}

.logo {
		font-style: italic;
		font-size: 30px;
		color:#fff;
		font-weight: 700;
		padding: 0px 20px;
		height: 66px;
		text-decoration: none;
		line-height: 68px !important;
		display: inline-block !important;
	}

#main {
	margin:0 auto;
	padding: 0px;
	max-width:970px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 75px;
}

#footer {
	text-align: center;
	margin-bottom: 20px;
	color: #7b7b7b;
	font-size: 14px;
}