 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
    <h2 class="modal-title">{{'ADD_RACE' | translate}}</h2>
</div>
<div class="modal-body">
    <form id="createForm" name="createForm" ng-submit="submit()" class="row" novalidate>

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

        <div class="form-group col-md-12">
            <input type="text" class="form-control" id="nombreCarrera" placeholder="{{'RACE_NAME' | translate}}" ng-model="pending.race.nombreCarrera" required="required" maxlength="100">
        </div>
        
        <div class="form-group col-md-6">
            <input type="text" id="fechaInicio" class="form-control" uib-datepicker-popup="{{format}}" ng-model="pending.race.fechaInicio" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="{{'CLOSE' | translate}}" clear-text="{{'DELETE' | translate}}" current-text="{{'TODAY' | translate}}" alt-input-formats="altInputFormats" 
            ng-click="open()" placeholder="{{'START_DATE' | translate}}" />
            <i class="glyphicon glyphicon-calendar overlay"></i>
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="distancias" placeholder="{{'DISTANCES_PLACEHOLDER' | translate}}" ng-model="pending.race.distancias" required="required">
        </div>

        <div class="form-group col-md-12">
            <ol class="nya-bs-select" ng-model="pending.race.tipoEvento" title-tpl="<span>{{'PICK_TYPE' | translate}}</spa>" required>
              <li nya-bs-option="t in types">
                  <a>{{t | translate}}</a>
              </li>
            </ol>
        </div>

        <div class="form-group col-md-6">
            <ol class="nya-bs-select" ng-model="pending.race.pais" title-tpl="<span>{{'PICK_COUNTRY' | translate}}</spa>" required ng-change="filterCities()" data-live-search="true">
              <li nya-bs-option="c in countries">
                  <a>{{c.name}}</a>
              </li>
            </ol>
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="ciudad" placeholder="{{'CITY' | translate}}" ng-model="pending.race.ciudad" required="required" maxlength="100" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:8" autocomplete="off">
        </div>

        <div class="form-group col-md-12">
            <input type="text" class="form-control" id="web" placeholder="{{'WEBSITE' | translate}}" ng-model="pending.race.web" required="required" maxlength="100">
        </div>

        <div class="form-group col-md-12">
            <input type="email" class="form-control" id="mail" placeholder="{{'OPTIONAL_RACE_EMAIL' | translate}}" ng-model="pending.race.mail" maxlength="100">
        </div>

        <div class="col-md-12 modal-header">
            <h2 class="modal-title">{{'PERSONAL_DATA' | translate}}</h2>
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="name" placeholder="{{'NAME' | translate}}" ng-model="pending.name" required="required" maxlength="100">
        </div>

        <div class="form-group col-md-6">
            <input type="email" class="form-control" id="email" placeholder="{{'EMAIL' | translate}}" ng-model="pending.email" required="required" maxlength="100">
        </div>

        <div class="form-group col-md-12 recaptcha" vc-recaptcha key="'<%=environment.recaptcha%>'" ng-model="pending.recaptchaResponse"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn send" type="submit" form="createForm">{{'SEND_DATA' | translate}}</button>
</div>