<div class="with-footer search">
  <div class="content container-fluid">
    
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">{{'MENU' | translate}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="showFavorites()" class="favorites" tooltip-enable="!isTouch" tooltip-placement="bottom" uib-tooltip="Favoritas"><i class="fa fa-heart favo-home" aria-hidden="true"></i></a></li>
            <li class="dropdown avatar" ng-show="user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{user.fbData.picture.data.url}}" alt="Leandro Glossman" class="img-circle"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="suggest()">{{'ADD_RACE_FOOTER' | translate}}</a></li>
                <li><a href="#" ng-click="openInvite()">{{'INVITE_FRIENDS' | translate}}</a></li>
                <li><a href="#" ng-click="logout()">{{'LOGOUT' | translate}}</a></li>
              </ul>
            </li>
            <li><a href="#" ng-click="openLogin('LOGIN')" ng-hide="user || loginPending">{{'LOGIN' | translate}}</a></li>
            <li><a href="#" ng-click="openSignup()" ng-hide="user || loginPending">{{'SIGNUP' | translate}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row logo">
      <a class="navbar-brand" href="./">RUNNIFY</a>
    </div>

    <div class="row slogan">
      {{'SLOGAN' | translate}}
    </div>
    
    <form ng-submit="search()" ng-controller="HomeCtrl">
  	  <div class="row box">
  	  	<img src="images/search.png">
  		  <input type="text" name="search" id="search" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}" ng-model="searchTerm" maxlength="100" ng-maxlength="100" my-enter="blur($event)">
  	  </div>
    </form>

    <div id="push"></div>

  </div>

  <footer class="footer">
    <div>
      <a href="https://www.facebook.com/runnify" target="_blank"><img src="images/facebook.png"></a>
      <a href="https://twitter.com/runnifyme" target="_blank"><img src="images/twitter.png"></a>
      <p>© 2016 Runnify - 
        <a href="#" class="suggest-race" ng-click="suggest()">{{'ADD_RACE_FOOTER' | translate}}</a>
        <span ng-show="user"> - <a href="#" class="suggest-race" ng-click="openInvite()">{{'INVITE_FRIENDS' | translate}}</a></span>
      </p>
    </div>
  </footer>
</div>