 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
    <h2 class="modal-title">{{'INVITE_FRIENDS' | translate}}</h2>
</div>
<div class="modal-body">
    <form id="inviteForm" name="createForm" ng-submit="invite()" class="row" novalidate>

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

        <div class="invite-text">{{'INVITE_TEXT' | translate}}</div>

        <div class="form-group col-md-12">
            <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" ng-model="emails[0]" maxlength="100">
        </div>

        <div class="form-group col-md-12">
            <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" ng-model="emails[1]" maxlength="100">
        </div>

        <div class="form-group col-md-12">
            <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" ng-model="emails[2]" maxlength="100">
        </div>

        <div class="form-group col-md-12">
            <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" ng-model="emails[3]" maxlength="100">
        </div>

        <div class="form-group col-md-12">
            <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" ng-model="emails[4]" maxlength="100">
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn omitir" ng-click="cancel()">{{'OMIT' | translate}}</button>
    <button class="btn send" type="submit" form="inviteForm">{{'INVITE' | translate}}</button>
</div>