<div class="races with-footer">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">{{'MENU' | translate}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">RUNNIFY</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li class="active"><a href="#">{{'RACES' | translate}}</a></li>
          <li><a href="#">{{'TRAINERS' | translate}}</a></li>
          <li><a href="#">{{'TEAMS' | translate}}</a></li> -->
          <li><a href="#" ng-click="toggleFavoritesFilter()" ng-class="{'shown': favorites}" class="favorites" tooltip-enable="!isTouch" tooltip-placement="bottom" uib-tooltip="Favoritas"><i class="fa" ng-class="{'fa-heart': favorites, 'fa-heart-o': !favorites}" aria-hidden="true"></i></a></li>
          <li class="dropdown avatar" ng-show="user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{user.fbData.picture.data.url}}" alt="user.fbData.name" class="img-circle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="suggest()">{{'ADD_RACE_FOOTER' | translate}}</a></li>
              <li><a href="#" ng-click="openInvite()">{{'INVITE_FRIENDS' | translate}}</a></li>
              <li><a href="#" ng-click="logout()">{{'LOGOUT' | translate}}</a></li>
            </ul>
          </li>
          <li><a href="#" ng-click="openLogin('LOGIN')" ng-hide="user || loginPending">{{'LOGIN' | translate}}</a></li>
          <li><a href="#" ng-click="openSignup()" ng-hide="user || loginPending">{{'SIGNUP' | translate}}</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content container-fluid list">
    <div class="wrapper">
      <form ng-submit="search()">
        <div class="row box">
          <img src="images/search.png">
          <input type="text" name="search" id="search" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}" ng-model="searchTerm" maxlength="100" ng-maxlength="100" my-enter="blur($event)">
          <span class="filters-toggle" ng-click="toggleFilters()">{{'FILTERS' | translate}}</span>
        </div>
      </form>
      <div class="page-sidebar row">
        <div class="header">{{'FILTERS' | translate}}</div>
        <div class="filters">
          <div class="filter">
            <div class="filter-label">{{'EVENT_TYPE' | translate}}</div>
            <ol class="nya-bs-select" ng-model="type" ng-change="onFilterChanged()">
              <li nya-bs-option="e in types">
                  <a>{{'EVENT_TYPE_' + e | translate}}</a>
              </li>
            </ol>
          </div>

          <div class="filter">
            <div class="filter-label">{{'MONTH' | translate}}</div>
            <ol class="nya-bs-select" ng-model="month" ng-change="onFilterChanged()">
              <li nya-bs-option="e in months">
                  <a>{{'MONTH_' + e | translate}}</a>
              </li>
            </ol>
          </div>

          <div class="filter">
            <div class="filter-label">{{'DISTANCE' | translate}}</div>
            <ol class="nya-bs-select" ng-model="distance" ng-change="onFilterChanged()">
              <li nya-bs-option="e in distances">
                  <a>{{'DISTANCE_' + e | translate}}</a>
              </li>
            </ol>
          </div>

          <div class="filter">
            <div class="filter-label">{{'COUNTRY' | translate}}</div>
            <ol class="nya-bs-select country" ng-model="country" ng-change="onCountryChanged()" data-live-search="true">
              <li nya-bs-option="e in countries">
                  <a>{{e | translate}}</a>
              </li>
            </ol>
          </div>

          <div class="filter">
            <div class="filter-label">{{'CITY' | translate}}</div>
            <ol class="nya-bs-select" ng-model="city" ng-change="onFilterChanged()" data-live-search="true">
              <li nya-bs-option="e in cities">
                  <a>{{e | translate}}</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="list-content">
        <div ng-repeat="race in races.list" class="row race" ng-class="{'destacada': race.destacada, 'favorite': race.favorite}" ng-click="handleRaceClick(race)">
          <div >
              <div class="col-sm-9">
                <div class="nombre-carrera">{{race.nombreCarrera}}</div>
                <div class="datos-carrera">
                  <span class="toggle-favorite" ng-click="toggleFavorite(race); $event.stopPropagation()">
                    <i class="fa" ng-class="{'fa-heart': race.favorite, 'fa-heart-o': !race.favorite}" aria-hidden="true"></i>
                  </span>
                  <span>{{race.fechaInicio  | date : 'dd MMM'}} / {{race.pais}} / {{race.tipoEvento | translate}}</span>
                </div>
              </div>
              <div class="col-sm-3 distancia size-{{race.distancias.length}}">
                <div ng-repeat="distancia in race.distancias track by $index">{{distancia}}K</div>
              </div>
          </div>
        </div>
      </div>

      <nav ng-show="races.list.length" class="col-md-offset-4 col-sm-offset-3">
        <ul class="pager col-md-6 col-sm-8 pagerpad">
          <li class="previous" ng-hide="races.first"><a class="pagination" ui-sref="Races({searchTerm: searchTerm, page: previousPage, races: null})"><span aria-hidden="true">&larr;</span> {{'OLDER' | translate}} </a></li>
          <li class="next" ng-hide="races.last"><a class="pagination" ui-sref="Races({searchTerm: searchTerm, page: nextPage, races: null})">{{'NEWER' | translate}} <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>

      <div ng-show="races != null && races.list.length == 0" class="row no-results">
        <span ng-bind-html="noResults()"></span><span ng-show="!favorites"> o <a href="#" ng-click="suggest()"><strong>agrega una carrera</strong></a></span>
      </div>
    </div>
    <div id="push"></div>

  </div>

  <footer class="footer">
    <div>
      <a href="https://www.facebook.com/runnify" target="_blank"><img src="images/facebook-gray.png"></a>
      <a href="https://twitter.com/runnifyme" target="_blank"><img src="images/twitter-gray.png"></a>
      <p>© 2016 Runnify - 
        <a href="#" class="suggest-race" ng-click="suggest()">{{'ADD_RACE_FOOTER' | translate}}</a>
        <span ng-show="user"> - <a href="#" class="suggest-race" ng-click="openInvite()">{{'INVITE_FRIENDS' | translate}}</a></span>
      </p>
    </div>
  </footer>
</div>