 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
    <h2 class="modal-title">{{title | translate}}</h2>
</div>
<div class="modal-body">
    <div name="loginForm" class="row">

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

        <div class="login-text">{{'LOGIN_TEXT' | translate}}</div>
        
        <div style="text-align:center;">
        <button class="btn login-button" ng-click="login()">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>{{'LOGIN_FACEBOOK' | translate}}
        </button>
      
        <div class="tac">Al registrarte en Runnify estás aceptando nuestros <a href="tac.html" target="_blank">Términos y Condiciones</a>.</div>
        </div>

    </div>
</div>